.underlined {
    text-decoration: underline;
}

.main-content {
    margin-left: 250px; /* Adjust based on the width of the sidebar */
    padding: 20px;
}

h1, h2 {
    font-family: 'Forum', serif; /* Apply Forum font to headers */
    user-select: none;
}

.form-group label {
    font-family: 'Forum', serif;
    font-size: 1.2rem;
}

.book-appointment-btn {
    margin-top: 20px;
    background-color: black; /* Black background for the button */
    border-color: black; /* Black border for the button */
    color: white;
}

#confirmationMessage {
    text-align: center;
    margin-top: 50px;
}

#confirmationMessage h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#confirmationMessage p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.family-members-form {
    margin-top: 40px;
}

.family-member-form {
    display: flex;
    margin-bottom: 10px;
}

.family-member input {
    flex: 1;
    margin-right: 10px;
}

body {
    background-color: #f2e6d9;
    font-family: 'Forum', serif; /* Apply Forum font to body */
}

/* Override default hover styles for the primary button */
.book-appointment-btn:hover {
    color: #fff; /* Set the color to the desired value */
    background-color: #000000; /* Set the background color to the desired value */
    border-color: #ffffff; /* Set the border color to the desired value */
}

h3{
    margin-top: 30px;
}

.confirmation-section {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 30px;
}

.family-member-confirmation {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 15px;
}

.add-appointment-btn,
.book-appointment-btn {
    display: block; /* Change display property to block */
    width: 20%; /* Make buttons occupy full width */
}

.add-appointment-btn {
    margin-bottom: 10px; /* Add margin at the bottom to create space */
}
