.underlined {
    text-decoration: underline;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h1, h2 {
    font-family: 'Forum', serif;
    user-select: none;
}

.form-group label {
    font-family: 'Forum', serif;
    font-size: 1.2rem;
}

.book-appointment-btn {
    margin-top: 20px;
    background-color: black; 
    border-color: black; 
    color: white;
}

#confirmationMessage {
    text-align: center;
    margin-top: 50px;
}

#confirmationMessage h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#confirmationMessage p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.family-members-form {
    margin-top: 40px;
}

.family-member-form {
    display: flex;
    margin-bottom: 10px;
}

.family-member input {
    flex: 1;
    margin-right: 10px;
}

body {
    background-color: #f2e6d9;
    font-family: 'Forum', serif;
}

.book-appointment-btn:hover {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}

h3{
    margin-top: 30px;
}

.confirmation-section {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 30px;
}

.family-member-confirmation {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 15px;
}

.add-appointment-btn,
.book-appointment-btn {
    display: block;
    width: 20%;
}

.add-appointment-btn {
    margin-bottom: 10px;
}
