.service-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.col-md-9,
.col-lg-10 {
    margin-left: 250px;
}

.service-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.row > .col-md-6 {
    padding-left: 20px;
}

.service-section .row {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
}

.service-description {
    font-size: 14px;
    margin-top: 10px;
}

.padding-top{
    padding-top: 40px;
}

/* CSS to change button color */
.btn-black {
    color: white;
    background-color: #000;
    border-color: #000;
}

.btn-black:hover {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
    outline: none !important;
    box-shadow: none;
}

.btn-black:focus {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
    outline: none !important;
    box-shadow: none;
}