/* styles.css */

#sidebar {
    height: 100vh;
    position: fixed;
    background-color: black; /* Full black background */
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-link {
    color: white;
    font-family: 'Forum', serif; /* Apply Forum font to nav links */
    font-size: 1.25rem; /* Adjust font size as needed */
    text-align: center; /* Center text horizontally */
    padding: 1rem 0; /* Add padding to center vertically */
    transition: font-weight 0.2s; /* Smooth transition for font-weight */
    user-select: none; 
}

.nav-link.active {
    font-weight: 800;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #007bff;
    font-weight: bold; /* Bold font on hover */
}

.underlined {
    text-decoration: underline;
}

.main-content {
    margin-left: 250px; /* Adjust based on the width of the sidebar */
}

h1 {
    color: #007bff;
    font-family: 'Forum', serif; /* Apply Forum font to headers */
    user-select: none; 
}

.social-icons {
    font-size: 1.5rem;
}

.social-icons a {
    color: white;
    margin: 0 5px; /* Adjust spacing between icons */
}

.home-picture {
    position: relative;
}

.home-picture img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .home-picture {
        width: 100%;
    }
}
